.Dropdown {
  @apply flex items-center md:order-2;
}

.DropdownBtn {
  @apply flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600;
}

.BtnImg {
  @apply w-8 h-8 rounded-full;
}

.DropdownList {
  position: absolute;
  display: flex;
  flexdirection: column;
  border: 1px solid black;
  top: 7vh;
  right: 1vw;
  zindex: 5;
  @apply z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 block w-48;
}

.UserName {
  @apply block text-sm text-gray-900 dark:text-white;
}

.UserEmail {
  @apply block text-sm font-medium text-gray-500 truncate dark:text-gray-400;
}

.ListItem {
  @apply block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white;
}
